.cartBox>.cartHeader {
	position: relative;
	height: .74rem;
	line-height: .74rem;
	text-align: center;
	font-size: .21rem;
	margin-bottom: .25rem;
	color: #fff;
	background: linear-gradient(to right, #f5811f, #f93e05);
	background: -webkit-linear-gradient(left, #f5811f, #f93e05);
	background: -o-linear-gradient(right, #f5811f, #f93e05);
	background: -moz-linear-gradient(right, #f5811f, #f93e05);
}
.cartBox>.cartHeader>img {
	width: .24rem;
	position: absolute;
	top: .25rem;
	left: .2rem;
}
.cartBox>.cartContainer {
	min-height: 5.08rem;
	overflow: auto;
}
.cartBox .item {
	padding: .15rem;
	margin-bottom: .1rem;
	position: relative;
	background-color: #f3f3f3;
}
.cartBox .item div.clear img {
	width: 1.5rem;
}
.cartBox .item>img {
	width: .18rem;
	position: absolute;
	top: .56rem;
	right: .15rem;
	display: none;
}
.cartBox .item:hover>img {
	display: block;
}
.cartBox .item>input {
	width: .15rem;
	height: .15rem;
	margin-right: .15rem;
	position: relative;
	top: .35rem;
}

.cartBox .detail {
	width: 3.25rem;
	margin-left: .15rem;
}
.cartBox .returned {
	font-size: .14rem;
	display: inline-block;
	margin: .1rem 0 .15rem;
	color:red;
	border: 1px solid red;
}
.cartBox .detail>.price {
	color: red;
}
.cartBox .detail>.price>.rt {
	font-size: .16rem;
	margin-top: .06rem;
	color: #333;
}
.cartBox .detail>.price>span {
	font-size: .22rem;
}

.cartBox .payBox {
	width: 5.76rem;
	background-color: #fff;
	position: fixed;
	bottom: .45rem;
	border-top: 1px solid #ddd;
}
.cartBox .payBox>li {
	float: left;
	width: 20%;
	height: .35rem;
	line-height: .35rem;
}
.cartBox .payBox>li:nth-child(2) {
	width:60%;
}
.cartBox .payBox>li:not(:first-child) {
	text-align: center;
}
.cartBox .payBox>li:last-child>a {
	display: block;
	cursor: pointer;
	color: #fff;
	background: linear-gradient(to right, #f5811f, #f93e05);
	background: -webkit-linear-gradient(left, #f5811f, #f93e05);
	background: -o-linear-gradient(right, #f5811f, #f93e05);
	background: -moz-linear-gradient(right, #f5811f, #f93e05);
}
.cartBox .payBox input {
	width: .15rem;
	height: .15rem;
}
.cartBox .allPick {
	padding-left: .15rem;
}
.cartBox .total {
	margin-left: .1rem;
	color: #f93e05;
}
