.detail {
	font-size: .16rem;
}
.imgBox {
	position: relative;
	margin-bottom: .2rem;
}
.imgBox>.return {
	width: .3rem;
	position: absolute;
	top: .15rem;
	left: .15rem;
	z-index: 500;
	
}
.imgBox .shoppingCart {
	width: .3rem;
	position: absolute;
	top: .15rem;
	right: .25rem;
	z-index: 500;
}
.imgBox>.img_lg {
	display: block;
	width: 100%;
	height:4rem;
}
.wordsBox {
	padding: .1rem;
}
.wordsBox>.price {
	display: block;
	color: orange;
	margin-top: .2rem;
	text-align: right;
}
.price>span {
	font-size: .2rem;
}

.detailFooter {
	/*width: 5.76rem;*/
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #eee;
}
.detailFooter>div>a {
	display: inline-block;
	width: 1.5rem;
	height: .45rem;
	line-height: .45rem;
	text-align: center;
	color: #fff;
}
.join {
	background-color: #ffb100;
}
.buy {
	background-color: orangered;
}

