header {
	padding: .1rem;
	background: #eee;
}
header>form {
	position: relative;
	width: 4.3rem;
	margin: 0 auto;
}
form>img {
	width: .28rem;
	top: .14rem;
	left: .22rem;
	position: absolute;

}
form>input {
	width: 4.3rem;
	height: .54rem;
	padding-left: .57rem;
	border-radius: .04rem;
	color: #999;
	background-color: #fff;
	border: 1px solid #ccc;
}
 