.order>header {
	padding: .1rem;
	color: #fff;
	background: linear-gradient(to right, #f5811f, #f93e05);
	background: -webkit-linear-gradient(left, #f5811f, #f93e05);
	background: -o-linear-gradient(right, #f5811f, #f93e05);
	background: -moz-linear-gradient(right, #f5811f, #f93e05);
}
header>img {
	width: .24rem;
	margin-left: .2rem;
	position: relative;
	top: .14rem;
}
header>p {
	height: .54rem;
	line-height: .54rem;
	font-size: .21rem;
	text-align: center;
}
.container {
	padding: .2rem;
}
.container .user {
	margin-bottom: .1rem;
}
.order .orderBox {
	/*height: 4.65rem;*/
}
.container .detail {
	width: 3.42rem;
	margin-left: .15rem;
}
.container .returned {
	font-size: .14rem;
	display: inline-block;
	margin: .1rem 0 .15rem;
	color:red;
	border: 1px solid red;
}
.container .orderBox>div {
	margin-bottom: .2rem;
}
.container .orderBox .clear {
	padding: 5px;
	background-color: #f3f3f3;
}
.container .orderBox .clear img {
	width: 1.5rem;
}
.container .detail>.price {
	color: red;
}
.container .detail>.price>.rt {
	font-size: .16rem;
	margin-top: .06rem;
	color: #333;
}
.container .detail>.price>span {
	font-size: .22rem;
}
.container>.count {
	margin-top: .15rem;
}
.orderFooter {
	width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #eee;
}
.orderFooter .total {
	position: relative;
	top: .13rem;
}
.orderFooter a {
	display: inline-block;
    width: 1.50rem;
    height: .45rem;
    line-height: .45rem;
    margin-left: .15rem;
    text-align: center;
    color: #fff;
    background-color: orangered;
}
.orderFooter .orderRrice {
	color: red;
	margin-left: .07rem;
}
.orderFooter .orderRrice>span {
	font-size: .22rem;
}
