.personBox>.header {
	height: 1.5rem;
	padding: .25rem .7rem;
	color: #fff;
	margin-bottom: .1rem;
	background: linear-gradient(to right, #f5811f, #f93e05);
	background: -webkit-linear-gradient(left, #f5811f, #f93e05);
	background: -o-linear-gradient(right, #f5811f, #f93e05);
	background: -moz-linear-gradient(right, #f5811f, #f93e05);
}
.personBox>.header>.lf {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	overflow: hidden;
}
.personBox>.header>.lf>img {
	width: 100%;
}
.personBox>.header>span {
	font-size: .2rem;
	position: relative;
	top: .4rem;
	left: .25rem;
}
.personBox>.locationBox {
	padding: .2rem;
}
.personBox .location {
	padding: .2rem;
	background-color: #eee;
}
.personBox .location .user {
	margin-bottom: .1rem;
}
